footer {
  color: #a7a9ac;
  background-color: #3a3a3a;
  padding: 1rem;

  a {
    text-decoration: none;
    color: #a7a9ac;
  }

  h3 {
    color: #ffffff;
  }

  .contacts {
    padding-top: 6rem;
  }

  .footer-item {
    padding-top: 2rem;
  }

  .map {
    display: flex;
    justify-content: center;

    iframe {
      border: 0;
    }
  }
}
