header {
  background: transparent;
  position: fixed;
  width: 100%;
  background-color: rgba(#fff, 0.2);
  color: #fff;
  z-index: 2;
  height: 11rem;
  transition: height 0.25s ease-in-out;

  &.header-scrolled {
    background-color: #fff;
    color: #000000;
    height: 5.75rem;
  }

  .logo-wrapper {
    display: flex;
    justify-content: center;

    .logo-scrolled {
      display: none;
    }

    .logo {
      padding-top: 1rem;
    }

    &.scrolled {
      .logo {
        display: none;
      }
      .logo-scrolled {
        margin: 0;
        display: unset;
        position: absolute;
        left: 1rem;
        line-height: 5.75rem;
      }
    }
  }

  nav {
    display: flex;
    justify-content: center;
    align-items: center;

    ul {
      display: flex;

      li {
        padding-right: 2rem;
        list-style: none;

        .link {
          cursor: pointer;
        }
      }
    }
  }
}
