.motto {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 10rem;
  height: 20rem;
  background-color: #984f58;

  .subtitle {
    color: #c9aca6;
    margin: 0;
  }

  .description {
    padding-top: 1rem;
    color: #ffffff;
    text-align: center;
  }
}
