.treatments {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #5b452a;

  .treatments-wrapper {
    display: flex;

    .treatment {
      margin: 1rem;
      top: 3rem;
      transition: transform 0.5s;
      cursor: pointer;
      box-shadow: 7px 7px 10px 0px rgba(0, 0, 0, 0.4);

      &:nth-child(2n) {
        position: relative;
        top: 4rem;
      }

      &:hover {
        transform: scale(1.1);
      }
    }

    .treatment-title {
      text-align: center;
    }
  }

  &.face-treatments {
    background-color: rgba(#5b452a, 0.4);

    .treatments-wrapper {
      margin: 11rem 9rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    .treatment {
      margin: 4rem;
      &:nth-child(2n) {
        position: relative;
        top: 0rem;
      }
    }
  }
}
