.treatment-description {
  .treatment-header {
    display: flex;
    padding-left: 30rem;
    height: 35rem;
    padding-top: 15rem;
    background-color: rgba(#5b452a, 0.4);

    .description-column {
      width: 40rem;
      margin-left: 5rem;

      .divider {
        margin: 2rem 0;
      }

      .information {
        display: flex;
        justify-content: center;

        .information-item {
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin: 1rem 2rem;

          h3,
          h4 {
            text-align: center;
          }
        }
      }
    }
  }

  img {
    object-fit: cover;
    object-position: center center;
    border-style: solid;
    border-width: 20px 20px 20px 20px;
    border-color: #ffffff1a;
    border-radius: 500px 500px 0px 0px;
  }

  .purpose,
  .first,
  .second,
  .third {
    padding: 1rem 15rem;
    display: flex;
    justify-content: center;
    .content-wrapper {
      margin: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .subtitle {
        color: #984f58;
        margin: 1rem 0;
      }

      li {
        margin: 0.5rem 0;
      }
    }
    .image-wrapper {
      margin: 2rem;
    }
  }

  .about,
  .fourth {
    .about-first {
      display: flex;
      justify-content: center;
      background-color: rgba(#5b452a, 0.4);
      height: 20rem;

      .list-wrapper {
        margin-top: 2rem;
        margin-left: 10rem;
        li {
          margin: 0.5rem 0;
        }
      }

      .image-wrapper {
        margin: 2rem;
        margin-right: 10rem;
      }
    }
    .about-second {
      background-color: #984f58;
      height: 15rem;
    }
  }
}
